body {
  background-color: rgb(247, 244, 240);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  text-align: center;
}

.avatar {
  width: 200px;
}

.header__title {
  font-size: 28px;
}

.header__subtitle {
  color: rgb(51, 51, 248);
}

main {
  border: 1px solid darkgray;
  text-align: center;
}

.skills ol {
  list-style: none;
}

.separator {
  width: 50%;
  height: 3px;
  background-color: rgb(61, 61, 177);
}

.ed__table {
  border-collapse: collapse;
  width: 100%;
}

.ed__table th,
td {
  border: 1px solid black;
  padding: 10px;
}

.quote{
    font-size: 32px;
}

.form {
    width: 600px;
    margin: 0 auto;
}

.form input{
    width: 100%;
}