body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
}

.avatar {
  width: 300px;
  height: 300px;
}

.header__title {
  font-size: 28px;
}
.header__subtitle {
  color: rgb(45, 133, 177);
}

main {
  border: 1px solid darkgray;
  text-align: center;
}